{% extends 'index.html.twig' %}


{% block titre %}| Acheter de la cryptomonnaie  {% endblock %}


{% block hero_area %}
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">BS Exchange Services</p>
							<h1>Acheter de la cryptomonnaie !</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block features %}
	<div class="mb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="single-article-section">
						<div class="single-article-text">
							<div class="single-artcile-bg"></div>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Responsable</span>
							</p>
							<h2>Cryptomonnaies</h2>
							<p>Les formulaires d'achat, de vente et d'échange de cryptomonnaie sont disponible via WhatsApp. Veuillez nous contactez directectement en cliquant sur le bouton ci dessous.</p>
							<div class="hero-btns">
								<a href="https://wa.me/2250708618478" class="boxed-btn">Commander sur WhatsApp</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}