{% extends 'index.html.twig' %}


{% block titre %}| Achetez de la cryptomonnaie  {% endblock %}


{% block hero_area %}
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle fw-bold">BS Exchange Services</p>
							<h1>Achetez de la cryptomonnaie !</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block features %}
	<div class="mb-100">
		
		<div class="container my-5">
			<div class="row d-flex py-4 px-2 pe-md-0 align-items-center rounded-3 border shadow">
				<div class="col-md-6 overflow-hidden">
					<img class="rounded-3" src="{{ asset("assets/img/1.jpg") }}" alt="achat de crypto" />
				</div>
				<div class="col-md-6 px-md-5 pt-3 pt-md-0">
					<h2 class="display-6 fw-bold lh-1">Achats de cryptomonnaies (USDT, PM, BUSD, BNB, etc..).</h2>
					<p class="lead">Les formulaires d'achat, de vente et d'échange de cryptomonnaie sont disponible via WhatsApp. Veuillez nous contactez directectement en cliquant sur le bouton ci dessous.</p>
					<div class="d-grid gap-1 d-md-flex justify-content-md-start mb-4 mb-md-3">
						<a href='https://wa.me/2250708618478?text=Bonjour%20Mr,%20je%20souhaite%20acheter%20de%20la%20cryptomonnaie.' type="button" class="btn btn-success btn-md px-4 fw-bold">Commandez sur Whatsapp</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}